<!--<div [dndDraggable]="draggable.data"-->
<!--     [dndEffectAllowed]="'all'"-->
<!--     [dndDisableIf]="draggable.disable"-->
<!--     (dndStart)="onDragStart($event)"-->
<!--     (dndCopied)="onDraggableCopied($event)"-->
<!--     (dndLinked)="onDraggableLinked($event)"-->
<!--     (dndMoved)="onDraggableMoved($event)"-->
<!--     (dndCanceled)="onDragCanceled($event)"-->
<!--     (dndEnd)="onDragEnd($event)" class="border p-2 m-2">-->

<!--  &lt;!&ndash;if [dndHandle] is used inside dndDraggable drag can only start from the handle&ndash;&gt;-->
<!--  <div *ngIf="draggable.handle"-->
<!--       dndHandle>HANDLE-->
<!--  </div>-->

<!--  draggable ({{draggable.effectAllowed}}) <span [hidden]="!draggable.disable">DISABLED</span>-->

<!--  &lt;!&ndash;optionally select a child element as drag image&ndash;&gt;-->
<!--  <div dndDragImageRef>DRAG_IMAGE</div>-->

<!--</div>-->

<!--&lt;!&ndash;a dropzone&ndash;&gt;-->
<!--&lt;!&ndash;to allow dropping content that is not [dndDraggable] set dndAllowExternal to true&ndash;&gt;-->
<!--<section dndDropzone-->
<!--         (dndDragover)="onDragover($event)"-->
<!--         (dndDrop)="onDrop($event)" style="border: 1px solid black">-->

<!--  dropzone-->

<!--  &lt;!&ndash;optional placeholder element for dropzone&ndash;&gt;-->
<!--  &lt;!&ndash;will be removed from DOM on init&ndash;&gt;-->
<!--  <div style="border: 1px orange solid; border-radius: 5px; padding: 15px;"-->
<!--       dndPlaceholderRef>-->
<!--    placeholder-->
<!--  </div>-->

<!--</section>-->

<div class="row">
  <div class="col-4"
       dndDropzone
       (dndDragover)="onDragover($event)"
       (dndDrop)="onDropToDo($event)">
    <app-card-drag
      *ngFor="let item of todo"
      [item]="item"
      (changeAuthor)="onChangeAuthor($event)"
      (dragStart)="onMoveCard($event)">
    </app-card-drag>
  </div>

  <div class="col-4"
       dndDropzone
       (dndDragover)="onDragover($event)"
       (dndDrop)="onDropDone($event)">
    <app-card-drag
      *ngFor="let item of done"
      [item]="item"
      (changeAuthor)="onChangeAuthor($event)"
      (dragStart)="onMoveCard($event)">
    </app-card-drag>
  </div>

  <div class="col-4"
       dndDropzone
       (dndDragover)="onDragover($event)"
       (dndDrop)="onDropNoNeed($event)">
    <app-card-drag
      *ngFor="let item of noNeed"
      [item]="item"
      (changeAuthor)="onChangeAuthor($event)"
      (dragStart)="onMoveCard($event)">
    </app-card-drag>
  </div>
</div>
